@model List<AbidiHiringTask.Application.Data_Transfer_Objects.EmployeeOutputDto>

<form asp-action="SubmitEmployee" method="post" style="direction:rtl;text-align:right" enctype="multipart/form-data">

    <div class="col-md-3">
        <label for="firstName" class="form-label">نام</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" required />
    </div>
    <div class="col-md-3">
        <label for="lastName" class="form-label">نام خانوادگی</label>
        <input type="text" class="form-control" id="lastName" name="LastName" required />
    </div>
    <div class="col-md-3">
        <label for="personalCode" class="form-label">کد پرسنلی</label>
        <input type="text" class="form-control" id="personalCode" name="PersonalCode" required />
    </div>
    <div class="col-md-3">
        <label for="nationalCode" class="form-label">کد ملی</label>
        <input type="text" class="form-control" id="nationalCode" name="NationalCode" required />
    </div>
    <div class="col-md-3">
        <label for="Files">مدارک تحصیلی </label>
        <input type="file" class="form-control-file" id="Files" name="Files" multiple required>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

<table class="table" id="employeeTable">
    <thead>
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>کد پرسنلی</th>
            <th>کد ملی</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PersonalCode</td>
                <td>@item.NationalCode</td>
                <td>
                    <button class="btn btn-warning edit-employee-btn" data-id="@item.Id">ویرایش</button>
                    <button class="btn btn-danger delete-employee-btn" onclick="deleteEmployee('@item.Id')">حذف</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-3">
    <button class="btn btn-success" onclick="window.location.href='@Url.Action("ExportToExcel", "Home")'">خروجی اکسل</button>
</div>

<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function() {
            $('.edit-employee-btn').on('click', function() {
                var employeeId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("Edit", "Home")/' + employeeId,
                    type: 'GET',
                    success: function(response) {
                        $('#editEmployeeModal .modal-content').html(response);
                        $('#editEmployeeModal').modal('show');
                    }
                });
            });
        });

        function deleteEmployee(employeeId) {
            if (confirm("آیا از حذف داده مطمئن هستید؟")) {
                $.ajax({
                    url: '@Url.Action("DeleteEmployee", "Home")',
                    type: 'POST',
                    data: { id: employeeId },
                    success: function (result) {
                        alert('با موفقیت حذف شد');
                        location.reload();
                    },
                    error: function () {
                        alert("مشکل در سرور");
                    }
                });
            }
        }
    </script>
}